@import "tailwindcss";

@theme {
  --color-primary-background: #0e0e0e;
  --color-primary-text: #ffffff;
  --color-secondary-text: #b3b3b3;
  --color-muted-text: #7a7a7a;
  --color-accent-background: #1a1a1a;
  --color-accent-border: #cccccc;
  --color-overlay-dark: #00000080;
}
